@charset "UTF-8";
/* CSS Document */
/* css重置 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td,
p {
  margin: 0;
  padding: 0; }

body {
  color: #444;
  background: #fff;
  word-break: break-all;
  word-wrap: break-word; }

body,
input,
textarea {
  font-size: 12px;
  font-family: Arial, Verdana, "\5b8b\4f53"; }

input,
button,
select,
textarea {
  outline: none; }

input {
  vertical-align: middle; }

textarea {
  resize: none; }

li {
  list-style: none; }

img {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px; }

ul,
ol,
dl,
dt,
dd {
  list-style-type: none; }

a {
  color: #444;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #008842; }

i,
s {
  display: inline-block;
  vertical-align: middle; }

/*clearfix 清除浮动*/
.clearfix {
  *zoom: 1; }

.clearfix:after,
.wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

/*公用*/
body {
  background: #f7f8f8; }

.w {
  background: #f7f8f8; }

.wrap {
  width: 1200px;
  margin: 0 auto; }

.w1200 {
  width: 1200px !important; }

.block {
  display: block !important; }

.none {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.textcenter {
  text-align: center; }

.textright {
  text-align: right; }

.textleft {
  text-align: left; }

/*=================header=============*/
#header {
  width: 100%;
  height: 30px;
  background: #f7f9f8; }

#header .wrap {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto; }

#header .fl li {
  line-height: 30px;
  float: left;
  line-height: 30px;
  margin-right: 10px; }

#header .fl .city {
  position: relative;
  color: #008842; }

#header .fl .title {
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 7px 0;
  cursor: pointer; }

#header .fl .content {
  float: left;
  position: relative; }

#header .city_name {
  color: #008842;
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  padding: 0 20px 5px 5px; }

#header .city_name span {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 9px;
  right: 8px;
  width: 8px;
  height: 4px;
  margin-left: 5px;
  background: url(../images/header-img.png) no-repeat 0 0;
  -webkit-transition: transform 0.2s ease-in 0s;
  -ms-transition: transform 0.2s ease-in 0s;
  -o-transition: transform 0.2s ease-in 0s;
  -moz-transition: transform 0.2s ease-in 0s;
  transition: transform 0.2s ease-in 0s; }

#header .city-con {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  width: 482px;
  z-index: 101;
  border: 2px solid #007f4d;
  background: #fff; }

#header .headline {
  padding: 0 15px;
  line-height: 30px;
  color: #727272;
  background: #ededed; }

#header .headline a {
  float: right;
  color: #008842;
  font-family: simsun;
  display: inline-block;
  white-space: nowrap;
  margin: 0 5px; }

#header .city-hot {
  overflow: hidden;
  margin: 10px 15px;
  line-height: 18px; }

#header .city-hot span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #666; }

#header .city-hot i {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(../images/header-img.png) no-repeat left top;
  background-position: -174px 0; }

#header .city-hot a {
  color: #727272;
  margin: 0 5px;
  float: left;
  display: inline-block;
  white-space: nowrap;
  padding: 3px 10px 3px 15px; }

#header .citytab {
  margin: 10px 0;
  padding: 0 15px; }

#header .citytab span {
  float: left;
  width: 19%;
  border: 1px solid #fff;
  border-bottom-color: #e0e0e0;
  text-align: center;
  cursor: pointer; }

#header .citytab .active {
  border-color: #e0e0e0;
  border-bottom-color: #fff; }

#header .citylist.active {
  display: block; }

#header .citylist {
  display: none;
  margin: 0 15px 15px; }
  #header .citylist .hot {
    color: #008842; }

#header .citylist dl {
  overflow: hidden; }

#header .citylist dt {
  font: bold 12px/22px Arial, "Microsoft YaHei";
  color: #008842;
  float: left;
  margin-right: 10px;
  text-align: center;
  display: block; }

#header .citylist dd {
  float: left;
  line-height: 22px;
  display: block;
  overflow: hidden;
  width: 430px; }

#header .citylist dd a {
  color: #727272;
  width: 18%;
  margin: 0 0 0 5px;
  line-height: 22px;
  display: inline-block;
  white-space: nowrap; }

#header .citylist a:hover {
  text-decoration: none;
  color: #008842; }

a {
  color: #444;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #008842; }

#header .fr {
  width: 518px;
  height: 30px;
  float: right; }
  #header .fr li {
    position: relative;
    float: right;
    line-height: 30px;
    padding: 0 10px;
    text-align: center; }
    #header .fr li a i {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      background: url(../images/header-img.png) no-repeat left top; }
  #header .fr b {
    font-weight: bold; }
  #header .fr .current .tit a {
    border-color: #b4c1a3;
    background: #fff;
    padding-bottom: 1px;
    padding-bottom: 1px;
    _padding: 6px 20px 7px 10px; }
  #header .fr .tel i {
    background-position: -86px 0; }
  #header .fr .pay i {
    width: 22px;
    background-position: -147px 0; }
  #header .fr .con {
    z-index: 2;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #b4c1a3;
    background: #fff; }
  #header .fr .mobile {
    padding: 0; }
    #header .fr .mobile .con {
      width: 125px;
      padding: 10px;
      line-height: 25px; }
    #header .fr .mobile .tit i {
      background-position: -64px 0; }
    #header .fr .mobile:hover s {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg); }
  #header .fr .tit a {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    _height: 16px;
    _line-height: 16px;
    _padding: 7px 20px 7px 10px;
    cursor: pointer;
    z-index: 100;
    border: solid #f7f9f8;
    border-width: 0 1px;
    position: relative; }
  #header .fr .myyiguo {
    padding: 0; }
    #header .fr .myyiguo .tit i {
      background-position: -40px 0; }
    #header .fr .myyiguo .con {
      width: 100px;
      padding: 5px 12px;
      text-align: left; }
      #header .fr .myyiguo .con a {
        display: block;
        line-height: 25px;
        color: #727272; }
      #header .fr .myyiguo .con b {
        margin-left: 10px;
        padding: 0 5px;
        color: #fff;
        background: #008842;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px; }
    #header .fr .myyiguo:hover s {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg); }
  #header .fr li a s {
    position: absolute;
    top: 13px;
    right: 8px;
    width: 8px;
    height: 4px;
    margin-left: 5px;
    background: url(../images/header-img.png) no-repeat 0 0;
    -webkit-transition: transform 0.2s ease-in 0s;
    -ms-transition: transform 0.2s ease-in 0s;
    -o-transition: transform 0.2s ease-in 0s;
    -moz-transition: transform 0.2s ease-in 0s;
    transition: transform 0.2s ease-in 0s;
    display: inline-block;
    vertical-align: middle; }

#search {
  background: #e0e0e0;
  height: 78px; }
  #search .wrap {
    height: 58px;
    padding: 15px 0 5px 0; }
    #search .wrap .logo {
      float: left;
      width: 280px;
      margin-right: 10px; }
      #search .wrap .logo a {
        display: block;
        width: 145px;
        height: 50px; }
    #search .wrap .search {
      position: relative;
      float: left;
      width: 528px; }
      #search .wrap .search .search-input {
        float: left;
        width: 425px;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        border: 1px solid #008842;
        background: #e0e0e0;
        color: #999999; }
        #search .wrap .search .search-input:focus {
          background: #fff; }
      #search .wrap .search .search-btn {
        float: left;
        display: block;
        width: 81px;
        height: 28px;
        line-height: 28px;
        padding: 0;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        background: #008842; }
      #search .wrap .search .search-keywords {
        height: 30px;
        line-height: 30px; }
        #search .wrap .search .search-keywords a {
          margin-right: 5px;
          color: #727272;
          display: inline-block; }
        #search .wrap .search .search-keywords a.hot {
          color: #008842; }
    #search .wrap .shopping-cart {
      float: right;
      position: relative;
      z-index: 1; }
      #search .wrap .shopping-cart .shopping-btn {
        width: 170px;
        height: 28px;
        padding: 6px 0;
        line-height: 28px;
        text-align: center;
        font-size: 25px;
        border: 1px solid #008842;
        background: #fff;
        cursor: pointer; }
        #search .wrap .shopping-cart .shopping-btn a {
          display: block;
          color: #008842; }
          #search .wrap .shopping-cart .shopping-btn a .totleNum {
            display: inline-block;
            vertical-align: middle;
            width: 28px;
            height: 20px;
            margin-right: 10px;
            font-size: 12px;
            padding: 0;
            background: url(../images/header-img.png) no-repeat -112px 0; }
            #search .wrap .shopping-cart .shopping-btn a .totleNum b {
              font-size: 12px;
              display: block;
              width: 24px;
              line-height: 12px;
              margin-right: 4px;
              text-align: center; }
          #search .wrap .shopping-cart .shopping-btn a .totlePrice {
            font-weight: normal;
            font-family: Arial, "Microsoft YaHei"; }
      #search .wrap .shopping-cart .shopping-list {
        display: none;
        z-index: 5;
        position: absolute;
        top: 41px;
        right: 0;
        width: 380px;
        padding: 10px;
        background: #fff;
        border: 1px solid #007f4d; }
        #search .wrap .shopping-cart .shopping-list .nogoods {
          width: 380px;
          height: 120px;
          line-height: 120px;
          text-align: center;
          background: url(../images/none-bg-w.jpg) no-repeat center #fff; }
        #search .wrap .shopping-cart .shopping-list p {
          width: 380px;
          height: 28px;
          line-height: 28px;
          color: #008842;
          margin: -10px 0 0 -10px;
          padding: 0 10px;
          background: #ededed;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #search .wrap .shopping-cart .shopping-list ul {
          display: block;
          position: relative;
          overflow-x: hidden;
          overflow-y: auto;
          width: 380px;
          max-height: 264px;
          _height: 275px;
          margin: 10px 0 0 0;
          padding: 0px; }
        #search .wrap .shopping-cart .shopping-list li {
          position: relative;
          overflow: hidden;
          zoom: 1;
          background: #fff;
          height: 45px;
          padding: 0 0 15px 0;
          line-height: 20px; }
          #search .wrap .shopping-cart .shopping-list li .l {
            float: left;
            margin-right: 5px;
            width: 45px;
            height: 45px; }
          #search .wrap .shopping-cart .shopping-list li .c {
            float: left;
            width: 222px; }
            #search .wrap .shopping-cart .shopping-list li .c a {
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
          #search .wrap .shopping-cart .shopping-list li .r {
            float: left;
            text-align: right;
            width: 90px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
            #search .wrap .shopping-cart .shopping-list li .r b {
              color: #e7380d;
              font-weight: bold; }
            #search .wrap .shopping-cart .shopping-list li .r a {
              display: block;
              color: #888; }
        #search .wrap .shopping-cart .shopping-list .price-total {
          font-size: 12px;
          line-height: 27px;
          margin-top: 5px;
          padding-top: 10px;
          text-align: right;
          border-top: 1px solid #dcdcdc; }
          #search .wrap .shopping-cart .shopping-list .price-total span {
            margin-left: 15px; }
            #search .wrap .shopping-cart .shopping-list .price-total span b {
              color: #e7380d;
              font-size: 16px;
              margin: 0 5px; }
        #search .wrap .shopping-cart .shopping-list .settleup {
          display: inline-block;
          width: 75px;
          height: 27px;
          font-size: 12px;
          text-align: center;
          color: #fff;
          background: #008842; }
      #search .wrap .shopping-cart:hover .shopping-list {
        display: block; }
        #search .wrap .shopping-cart:hover .shopping-list .nogoods {
          display: none; }

#search.search_fixed {
  z-index: 100;
  display: block;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 46px;
  background: url(../images/header_fixed_bg.png) repeat; }
  #search.search_fixed .wrap {
    padding-top: 6px; }
  #search.search_fixed .logo {
    margin-right: 0px; }
    #search.search_fixed .logo a {
      height: 36px; }
      #search.search_fixed .logo a img {
        height: 36px; }
  #search.search_fixed .search {
    width: 770px;
    margin-top: 3px; }
  #search.search_fixed .search-bar {
    float: left; }
  #search.search_fixed .search .search-keywords {
    overflow: hidden;
    float: left;
    width: 230px;
    height: 28px;
    margin-left: 10px; }
  #search.search_fixed #keywords {
    height: 30px; }
  #search.search_fixed .shopping-cart .shopping-btn {
    width: 140px;
    padding: 2px 0;
    font-size: 20px; }
  #search.search_fixed .shopping-list {
    top: 33px; }

#nav .catalogs {
  z-index: 1;
  float: left;
  position: relative; }
  #nav .catalogs .catalogs-title {
    width: 180px;
    height: 38px;
    position: relative;
    text-align: center;
    background: #008842; }
    #nav .catalogs .catalogs-title a {
      overflow: hidden;
      font: bold 15px/16px "Microsoft YaHei";
      color: #fff;
      display: block;
      height: 16px;
      padding: 11px 0;
      _padding: 11px 0; }

#nav .catalogs-list {
  display: block;
  position: absolute;
  height: 462px;
  background: rgba(255, 255, 255, 0.9);
  background: #fff \9; }
  #nav .catalogs-list h3 a {
    overflow: hidden;
    position: relative;
    display: block;
    width: 165px;
    height: 24px;
    padding: 9px 0 9px 15px;
    font: normal 14px/24px "Microsoft YaHei";
    background: #fff \9; }
  #nav .catalogs-list h3 i {
    overflow: hidden;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: url(../images/nav-icon.png) no-repeat 0px 0px; }
  #nav .catalogs-list h3 s {
    display: none;
    position: absolute;
    top: 7px;
    right: 18px;
    font-family: Arial;
    text-decoration: none;
    vertical-align: middle; }
  #nav .catalogs-list .sub-item {
    z-index: 3;
    display: none;
    position: absolute;
    top: -38px;
    left: 180px;
    width: 215px;
    height: 464px;
    padding: 17px 20px;
    border: 1px solid #bbb;
    background: rgba(255, 255, 255, 0.9);
    background: #fff \9; }
    #nav .catalogs-list .sub-item h4 {
      margin-bottom: 10px;
      font: normal 18px "Microsoft YaHei";
      text-decoration: underline; }
      #nav .catalogs-list .sub-item h4 a {
        color: #20985a; }
  #nav .catalogs-list .sub-list a {
    display: inline-block;
    line-height: 25px;
    margin-right: 30px;
    color: #686868; }
  #nav .catalogs-list .catalogs-ad {
    position: absolute;
    bottom: 10px; }
    #nav .catalogs-list .catalogs-ad a {
      display: block; }
      #nav .catalogs-list .catalogs-ad a img {
        border: none; }
  #nav .catalogs-list .t02_channelhome a i {
    background-position: -24px 0; }
  #nav .catalogs-list .t05_channelhome a i {
    background-position: -48px 0; }
  #nav .catalogs-list .t06_channelhome a i {
    background-position: -72px 0; }
  #nav .catalogs-list .t04_channelhome a i {
    background-position: -96px 0; }
  #nav .catalogs-list .t03_channelhome a i {
    background-position: -144px 0; }
  #nav .catalogs-list .t10_channelhome a i {
    background-position: -168px 0; }
  #nav .catalogs-list .t07_channelhome a i {
    background-position: -192px 0; }
  #nav .catalogs-list .t09_channelhome a i {
    background-position: -216px 0; }
  #nav .catalogs-list .t11_channelhome a i {
    background-position: -240px 0; }
  #nav .catalogs-list .current h3 a {
    z-index: 78;
    padding: 8px 0 8px 15px;
    background: rgba(255, 255, 255, 0.95);
    background: #fff \9;
    border: 1px solid #bbb;
    border-right: 0px; }
  #nav .catalogs-list .current h3 i {
    margin-left: 7px;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  #nav .catalogs-list .current h3 s {
    display: block; }

#banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 500px;
  top: -38px; }
  #banner .b-img {
    width: 100% !important;
    margin: 0 auto;
    position: relative;
    height: 500px; }
    #banner .b-img li {
      overflow: hidden;
      width: 100% !important;
      height: 500px;
      background: #efefef;
      position: absolute;
      width: 1349px;
      left: 0px;
      top: 0px;
      display: none; }
      #banner .b-img li a {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/banner1.jpg);
        background-position: center !important;
        background-repeat: no-repeat !important;
        animation: animate 2s linear; }
    #banner .b-img .l2 a {
      background: url(../images/banner2.jpg); }
    #banner .b-img .l3 a {
      background: url(../images/banner3.jpg); }
    #banner .b-img .current {
      display: list-item; }

@keyframes animate {
  0% {
    -webkit-transform: scaleX(1.1) scaleY(1.1);
    -ms-transform: scaleX(1.1) scaleY(1.1);
    -o-transform: scaleX(1.1) scaleY(1.1);
    -moz-transform: scaleX(1.1) scaleY(1.1);
    transform: scaleX(1.1) scaleY(1.1); }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1); } }
  #banner .b-btn {
    z-index: 2; }
    #banner .b-btn a {
      display: none;
      width: 40px;
      height: 100px;
      background: url(../images/slider-btn.png) no-repeat;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      opacity: 0.3; }
      #banner .b-btn a:hover {
        opacity: 0.7; }
    #banner .b-btn .prev {
      left: 0;
      background-position: top left; }
    #banner .b-btn .next {
      right: 0;
      background-position: top right; }
  #banner:hover .b-btn a {
    display: block; }
  #banner .b-dot {
    position: absolute;
    bottom: 12px;
    left: 43%;
    height: 12px;
    zoom: 1;
    z-index: 3; }
    #banner .b-dot li {
      overflow: hidden;
      float: left;
      width: 12px;
      height: 12px;
      line-height: 10px;
      color: #b5b2a8;
      background: #b5b2a8;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer;
      text-indent: 100000000px; }
      #banner .b-dot li.on {
        color: #5aaa16;
        background: #5aaa16; }

#exhibits .ad-item {
  margin-top: -25px; }
  #exhibits .ad-item ul {
    zoom: 1;
    margin-left: -12px;
    margin-top: 10px;
    padding-top: 7px; }
    #exhibits .ad-item ul li {
      position: relative;
      overflow: hidden;
      float: left;
      display: inline;
      width: 290px;
      height: 290px;
      margin: 0 0 10px 13px; }
      #exhibits .ad-item ul li img {
        width: 290px; }
      #exhibits .ad-item ul li p {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 270px;
        height: 57px;
        line-height: 25px;
        margin: 10px;
        color: #575757;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: rgba(255, 255, 255, 0.9);
        background: #fff \9; }
        #exhibits .ad-item ul li p b {
          display: block;
          font: bold 22px "Microsoft YaHei";
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      #exhibits .ad-item ul li:hover {
        -moz-box-shadow: 0px 0px 7px #444;
        -webkit-box-shadow: 0px 0px 7px #444;
        box-shadow: 0px 0px 7px #444; }

#goods ul {
  overflow: hidden;
  zoom: 1;
  margin-left: -13px; }
  #goods ul .product_item {
    float: left;
    position: relative;
    width: 290px;
    margin: 15px 0 0 13px;
    background: #fff;
    box-shadow: 0px 5px 20px #727272;
    text-align: center; }
    #goods ul .product_item .p_img {
      position: relative;
      width: 290px;
      height: 290px; }
    #goods ul .product_item .p_info {
      padding: 10px;
      height: 48px; }
    #goods ul .product_item .p_name {
      height: 16px;
      margin-bottom: 10px;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #goods ul .product_item .p_price {
      height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      #goods ul .product_item .p_price .price {
        font-size: 18px;
        color: #e7380d;
        vertical-align: middle; }
    #goods ul .product_item .p-buy {
      display: none;
      position: absolute;
      left: 0;
      bottom: 68px;
      width: 270px;
      padding: 10px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      background: #fff \9; }
      #goods ul .product_item .p-buy span {
        display: block;
        width: 270px;
        line-height: 16px;
        margin-bottom: 10px; }
    #goods ul .product_item .btn-buy {
      display: none;
      width: 180px;
      height: 25px;
      margin: 0 auto;
      line-height: 25px;
      color: #fff;
      background: #008742;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      #goods ul .product_item .btn-buy:hover {
        color: #fff;
        background: #09964e; }
  #goods ul .current {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px); }
  #goods ul .current .p-buy {
    display: block; }

#footer .footer_service {
  background: #e0e0e0;
  margin-top: 50px;
  padding: 30px 0; }
  #footer .footer_service li {
    float: left;
    width: 190px;
    height: 42px;
    margin-left: 55px;
    _margin-left: 44px;
    padding-left: 55px;
    background: url(../images/footer_service_icon.png) no-repeat left top; }
    #footer .footer_service li b {
      display: block;
      padding-left: 15px;
      color: #007f4d;
      font: normal 18px/25px "Microsoft YaHei";
      border-left: 1px solid #a6a6a6; }
    #footer .footer_service li span {
      display: block;
      padding-left: 15px;
      border-left: 1px solid #a6a6a6; }
  #footer .footer_service .s1 {
    background-position: 0 0; }
  #footer .footer_service .s2 {
    background-position: 0 -42px; }
  #footer .footer_service .s3 {
    background-position: 0 -84px; }
  #footer .footer_service .s4 {
    background-position: 0 -126px; }

#footer .footer {
  zoom: 1;
  clear: both;
  position: relative;
  padding-bottom: 20px;
  border-top: 1px solid #e0e0e0; }
  #footer .footer .wrap {
    margin: 50px auto 0; }
    #footer .footer .wrap dl {
      width: 190px;
      float: left;
      margin-left: 50px;
      display: inline; }
      #footer .footer .wrap dl dt {
        height: 23px;
        line-height: 23px;
        background: url(../images/footer_icon.png) no-repeat;
        font-size: 14px;
        text-indent: 40px; }
      #footer .footer .wrap dl dd {
        border-left: 1px dashed #A8A8A8;
        padding-left: 20px;
        height: 110px;
        min-height: 110px;
        margin: 15px 0 0 13px; }
        #footer .footer .wrap dl dd a {
          color: #575556;
          line-height: 22px; }
          #footer .footer .wrap dl dd a:hover {
            text-decoration: underline;
            color: #008842; }
    #footer .footer .wrap .col1 dt {
      background-position: 0 0; }
    #footer .footer .wrap .col2 dt {
      background-position: 0 -23px; }
    #footer .footer .wrap .col3 dt {
      background-position: 0 -46px; }
    #footer .footer .wrap .col4 dt {
      background-position: 0 -69px; }
    #footer .footer .wrap .col5 dt {
      background-position: 0 -92px; }
    #footer .footer .wrap .service {
      clear: both;
      text-align: center;
      padding: 60px 0 20px;
      color: #008842;
      font-size: 14px; }
      #footer .footer .wrap .service span {
        display: inline-block;
        padding: 0 10px; }
    #footer .footer .wrap .copyright {
      clear: both;
      color: #717171;
      text-align: center;
      line-height: 22px; }
      #footer .footer .wrap .copyright a {
        color: #717171; }
      #footer .footer .wrap .copyright .authentication a {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        zoom: 1;
        vertical-align: middle; }

.sidebar {
  display: block;
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 47%;
  margin-right: -625px;
  width: 56px; }
  .sidebar .s-btn {
    overflow: hidden;
    display: block;
    width: 50px;
    height: 42px;
    margin-bottom: 10px;
    background: url(../images/sidebar.png) no-repeat left top; }
  .sidebar .service {
    background-position: 0 -46px; }
    .sidebar .service:hover {
      background-position: -56px -46px; }
  .sidebar .goTop {
    display: none;
    _display: nblock;
    background-position: 0 0; }
    .sidebar .goTop:hover {
      background-position: -56px 0; }

.floor {
  clear: both;
  position: relative;
  margin-top: 18px; }

.floor-title {
  position: relative;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px; }

.floor-title h2 {
  float: left;
  height: 32px;
  font: bold 18px "Microsoft YaHei"; }

#t01_channelhome h2 a {
  color: #fc5f3c; }

.floor-title i {
  display: inline-block;
  width: 31px;
  height: 18px;
  margin-right: 10px;
  padding: 10px 7px 4px 7px;
  color: #fff;
  font: bold 14px "Microsoft YaHei";
  vertical-align: text-bottom;
  background: url(../images/floor_tit_icon.png) no-repeat left top; }

#t01_channelhome h2 i {
  background-position: 0px 0; }

.floor-title .keyword {
  float: right; }

.floor-title .keyword a {
  color: #4e4e4e; }

.floor-title .keyword a:after {
  content: "|";
  padding: 0 7px; }

.floor-title .keyword {
  float: right; }

.floor-side {
  float: left;
  width: 275px;
  height: 462px; }

.floor-con .floor-side a {
  display: block; }

.floor-main a {
  -webkit-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  transition: transform 0.2s linear; }
  .floor-main a:hover {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    -o-transform: translate(5px);
    -moz-transform: translate(5px);
    transform: translate(5px); }

a {
  color: #444;
  text-decoration: none;
  outline: none; }

.floor-main {
  position: relative;
  float: left;
  background: #fff; }

.floor-layout2 .floor-main {
  width: 924px;
  height: 462px;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5; }

.floor-layout2 li {
  float: left;
  overflow: hidden;
  width: 230px;
  height: 230px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.floor-main a {
  display: block;
  -webkit-transition: -webkit-transform .2s linear;
  -moz-transition: -moz-transform .2s linear;
  -o-transition: -o-transform .2s linear;
  transition: transform .2s linear; }

.floor-layout2 .wide {
  width: 461px; }

.floor-layout3 .floor-main {
  width: 923px;
  height: 461px;
  border: 1px solid #d5d5d5; }

.floor-layout3 .col1,
.floor-layout3 .col2,
.floor-layout3 .col3 {
  float: left;
  overflow: hidden; }

.floor-layout3 li {
  float: left;
  overflow: hidden;
  height: 191px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background: #fff; }

.floor-layout3 .narrow {
  width: 220px; }

.floor-layout3 .col3 {
  width: 246px;
  height: 461px; }

.floor-layout3 .logo-list a {
  float: left;
  margin: 0 14px;
  _margin: 0 13px; }

.floor-layout3 .logo-list {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 654px;
  height: 55px;
  padding: 11px;
  _padding: 10px 11px;
  border-right: 1px solid #d5d5d5;
  background: #fff; }

.floor-layout3 .col2 {
  width: 442px; }

.floor-layout3 .col1 {
  width: 234px;
  height: 383px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

#t02_channelhome h2 a {
  color: #007f4d; }

.floor .loding {
  height: 500px;
  background: url(../images/loding.gif) no-repeat scroll 50% 50% white; }

#t04_channelhome h2 i {
  background-position: -184px 0; }

#t05_channelhome h2 i {
  background-position: -92px 0; }

#t06_channelhome h2 i {
  background-position: -138px 0; }

#t07_channelhome h2 i {
  background-position: -368px 0; }

#t08_channelhome h2 i {
  background-position: -230px 0; }

#t09_channelhome h2 i {
  background-position: -414px 0; }

#t10_channelhome h2 i {
  background-position: -531px 0;
  width: 41px; }

.floor-guide {
  overflow: visible;
  position: fixed;
  display: none;
  top: 200px;
  left: 50%;
  width: 35px;
  height: 359px;
  margin-left: -655px;
  z-index: 100;
  width: 35px;
  text-align: center; }

.floor-guide a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #666;
  text-decoration: none;
  cursor: pointer; }

.floor-guide b {
  display: block;
  width: 40px;
  height: 40px;
  visibility: visible;
  background: url(../images/floor_guide.png) no-repeat 0px 0px; }

.floor-guide .icon_01_channelhome {
  background-position: 0 0; }

.floor-guide em {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  width: 24px;
  height: 29px;
  padding: 6px 8px;
  line-height: 14px;
  font-style: normal;
  color: #fff;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out; }

.floor-guide .icon_02_channelhome {
  background-position: -40px 0; }

.floor-guide .icon_04_channelhome {
  background-position: -160px 0; }

.floor-guide .icon_05_channelhome {
  background-position: -80px 0; }

.floor-guide .icon_06_channelhome {
  background-position: -120px 0; }

.floor-guide .current b {
  display: none; }

.floor-guide .icon_07_channelhome {
  background-position: -320px 0; }

.floor-guide .icon_08_channelhome {
  background-position: -200px 0; }

.floor-guide .icon_09_channelhome {
  background-position: -360px 0; }

.floor-guide .icon_10_channelhome {
  background-position: -280px 0; }

.floor-guide a:hover em,
.floor-guide .current em {
  visibility: visible;
  color: #fff;
  background-color: #008842; }
