body {
  font-size: 12px;
  display: flex;
  flex-direction: column; }

body,
html {
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 0.37rem;
  font-size: 0.12rem;
  background: #00b38a;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.37rem;
  color: #fff; }

section {
  flex: 1; }

section figure {
  width: 100%;
  padding: .1rem;
  height: 0.75rem;
  line-height: 2.5rem;
  display: flex;
  border-bottom: 1px solid #ececec; }

section img {
  width: 0.5rem;
  margin-right: 0.07rem;
  display: inline-block; }

section figcaption {
  float: right;
  width: 2.42rem;
  display: inline-block; }

section figcaption h2 {
  font-size: 0.14rem;
  width: 100%;
  height: 0.14rem;
  line-height: 0.14rem;
  margin-bottom: 0.12rem; }

section figcaption h3 span {
  display: inline-block;
  float: right;
  color: #47c8aa; }

section figcaption h3 {
  font-size: 0.12rem;
  height: 0.12rem;
  line-height: 0.12rem; }

section figcaption p {
  margin-top: 0.12rem;
  color: #888;
  font-size: 0.12rem;
  height: 0.12rem;
  line-height: 0.12rem; }

footer {
  width: 100%;
  height: 0.37rem;
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between; }

footer p {
  background: #f6f6f6;
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
  color: #e1d9d8; }

footer p img {
  margin-right: 0.05rem; }

footer .cur {
  background: #e7f3f0;
  color: #40c5a6; }
